* {
    margin:0;
    padding:0;
}

body {
    background-color:blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    min-height:100vh;

}


.save-btn {
    border:none;
    background-color:salmon;
    color:white;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}

.hour {
    background-color:grey;
    text-align:center;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    font-weight:bold;
}

.time-row {
    height:70px;
    border-bottom:2px solid blanchedalmond;
}

textarea {
    resize: none;
    border: 1px solid grey;
    font-weight:bold;
}

.plenty-of-time {
    background-color:rgba(0, 128, 0, 0.507);
    
}

.out-of-time {
    background-color:rgba(255, 0, 0, 0.5);
    
}

.no-time {
    background-color:rgba(0, 0, 0, 0.493);
   
}


